@keyframes color {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #ccffc6;
  }
  100% {
    background-color: #fff;
  }
}

.palette .color {
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  font-weight: 600;
  margin: 5px;
  text-shadow: #fff 0px 0px 5px;
  max-height: 60vh;
}

.collection-item > .row {
  margin-bottom: 0px;
}

.title {
  margin-top: 120px;
  margin-bottom: 60px;
}

.overlay,
.download-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition-property: all;
  transition-delay: 1s;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}

.swap-modal,
.download-modal {
  width: 500px;
  height: 400px;
  transform: translateY(calc(50vh - 50%));
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

#input-pane,
#output-pane {
  height: 60vh;
  overflow: auto;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
}

#input-pane > span {
  position: absolute;
  width: 70%;
  text-align: center;
}

.btn {
  text-transform: none;
  background-color: #8b3dff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  height: 55px;
  width: 200px;
}

.btn:hover,
.btn:focus {
  background-color: #8b3dff;
}

#svgContainer {
  overflow: auto;
  max-width: 100%;
  max-height: 500px;
}

/* input-image */
#input-file {
  display: none;
}
